body {
  background-color: #fbe9d2;
  text-align: center;
  margin: 0;
}

/* STANDARDS */

h1 {
  font-size: 60px;
  font-family: 'Chewy', cursive;
}

h2 {
  font-family: 'Quicksand', sans-serif;
}

h3 {
  font-size: 30px;
  font-family: 'Chewy', cursive;
}

p {
  font-family: 'Quicksand', sans-serif;
}

/* NAVIGATION BAR */

.nav {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  background-color: #fe5f00;
}

.nav img {
  height: 80px;
  width: 80px;
}
.nav a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 20px;
  font-size: 36px;
  color: #fbe9d2;
  font-family: 'Chewy', cursive;
}

.nav ul {
  list-style-type: none;
}

.nav li {
  float: left;
  margin-right: 40px;
  margin-left: 40px;
}

/* BLOG TITLE SECTION */

.main-section {
  display: flex;
  margin: 0;
}

.main-section a {
  text-decoration: none;
  color: black;
}

.main-section-left {
  width: 70%;
  padding: 150px;
  flex: 1;
}

.images {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 200px;
  width: 350px;
  padding-left: 110px;
  margin: 50px;
}

#right-image {
  padding-left: 20px;
}

.main-section-right {
  background-color: #fda036;
  color: #fbe9d2;
  width: 30%;
  padding: 50px;
  flex: 1;
}

.main-section-right h1 {
  color: #fbe9d2;
}

@media (max-width: 900px) {
  .main-section {
    -webkit-flex-direction: column;
    flex-direction: column-reverse;
  }

  .main-section-right {
    width: auto;
  }

  .main-section-left {
    width: auto;
  }
}

.overflow-text-section {
  padding-top: 50px;
  padding-left: 60px;
  padding-right: 60px;
  max-width: fit-content;
}

.overflow-text-section img {
  width: 300px;
}

.overflow-text-section h2 {
  padding-top: 20px;
}

/* PAGE BREAK */

.break {
  background-color: #fe81c3;
  padding: 20px;
  color: #fbe9d2;
}

.break img {
  width: 60px;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

.break-flower {
  padding-top: 50px;
}

.break-flower img {
  width: 60px;
  height: 60px;
  padding-left: 80px;
  padding-right: 80px;
}
