body {
  background-color: antiquewhite;
  text-align: center;
  margin: 0;
}

h1 {
  color: seagreen;
}

/* NAVIGATION BAR */

.nav {
  display: flex;
  justify-content: center;
}

.nav a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 8px;
}

.nav ul {
  list-style-type: none;
}

.nav li {
  float: left;
}

.sprints {
  display: flex;
  justify-content: space-around;
  margin: 30px;
  padding: 15px;
  background-color: bisque;
}

.left-block {
  margin-right: 10px;
  padding: 20px;
}

.middle-block {
  margin-right: 10px;
  padding: 20px;
}

.right-block {
  margin-left: 10px;
  padding: 20px;
}

.footer-section {
  display: flex;
  justify-content: space-around;
}
