body {
  background-color: #fbe9d2;
  text-align: center;
  margin: 0;
}

/* NAVIGATION BAR */

.nav {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  background-color: #fe5f00;
}

.nav a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 20px;
}

.nav ul {
  list-style-type: none;
}

.nav li {
  float: left;
  margin: auto;
}

.main-section {
  display: flex;
  margin: 0;
}

.main-section-left {
  width: 50%;
  padding: 100px;
}

.main-section-right {
  background-color: #fda036;
  width: 50%;
  padding: 100px;
}

.break {
  background-color: #fe81c3;
  padding: 10px;
}

.middle {
  background-color: #fe5f00;
  padding: 80px;
}
