body {
  background-color: #fbe9d2;
  text-align: center;
  margin: 0;
}

/* STANDARDS */

h1 {
  font-size: 60px;
  font-family: 'Chewy', cursive;
}

h3 {
  font-size: 30px;
  font-family: 'Chewy', cursive;
}

p {
  font-family: 'Quicksand', sans-serif;
}

/* NAVIGATION BAR */

.nav {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  background-color: #fe5f00;
}

.nav img {
  height: 80px;
  width: 80px;
}
.nav a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 20px;
  font-size: 36px;
  color: #fbe9d2;
  font-family: 'Chewy', cursive;
}

.nav ul {
  list-style-type: none;
}

.nav li {
  float: left;
  margin-right: 40px;
  margin-left: 40px;
}

/* MAIN SECTION */

.main-section {
  display: flex;
  margin: 0;
}

.main-section img {
  height: 200px;
}
.main-section-left {
  width: 50%;
  padding: 100px;
}

.main-section-right {
  background-color: #fda036;
  width: 50%;
  padding: 100px;
}

.main-section-right h1 {
  color: #fbe9d2;
}

.main-section p {
  font-family: 'Quicksand', sans-serif;
}

/* PAGE BREAK */

.break {
  background-color: #fe81c3;
  padding: 20px;
  color: #fbe9d2;
}

.break img {
  width: 60px;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

.break-flower {
  padding: 20px;
}

.break-flower img {
  width: 60px;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

/* SPTINT SECTION */

button {
  background-color: #fbe9d2;
  font-family: 'Chewy', cursive;
  font-size: 20px;
  color: #fda036;
  border: #fe81c3;
  border-style: solid;
  border-width: 4px;
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 30px;
}

/* #core-btn {
  background-color: #ec79b5;
  font-family: 'Chewy', cursive;
  font-size: 20px;
  color: #fbe9d2;
  border: #fe81c3;
  border-style: solid;
  border-width: 4px;
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 30px;
} */

.sprints a {
  font-family: 'Chewy', cursive;
  font-size: 20px;
  color: #fda036;
  text-decoration: none;
}

.sprints img {
  width: 60px;
  height: 60px;
  margin-bottom: -30px;
}

.middle {
  background-color: #fe5f00;
  padding: 80px;
}

.sprints {
  display: -webkit-flex;
  display: flex;
}

.sprints ul {
  list-style-type: none;
  padding: 10px;
}

.sprints li {
  padding: 10px;
}

.sprint {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px;
}

.sprint h3 {
  color: #fbe9d2;
}

/* MEDIA QUERIES */

@media (max-width: 700px) {
  .sprints {
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .main-section-left {
    display: none;
  }

  .main-section-right {
    width: 100%;
  }
}
